In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import os.path as osp
import os

In [3]:
base_dir= '/data/movielens_dataset'
df= pd.read_csv(osp.join(base_dir,'ratings.dat'),delimiter='::',names=['user_id','asin','rating','timestamp'])

In [4]:
df

          user_id  asin  rating  timestamp
0               1   122     5.0  838985046
1               1   185     5.0  838983525
2               1   231     5.0  838983392
3               1   292     5.0  838983421
4               1   316     5.0  838983392
...           ...   ...     ...        ...
10000049    71567  2107     1.0  912580553
10000050    71567  2126     2.0  912649143
10000051    71567  2294     5.0  912577968
10000052    71567  2338     2.0  912578016
10000053    71567  2384     2.0  912578173

[10000054 rows x 4 columns]

In [5]:
df[['user_id','asin','rating']].to_csv(osp.join(base_dir,'rating_movielens_user_based.txt'), sep="\t", index=False, header=False)

In [6]:
img_names = os.listdir(osp.join(base_dir,'movielens'))
img_ids = [int(img_name.replace('.jpg','')) for img_name in img_names]

In [8]:
(df['asin'].isin(img_ids)).sum(), len(df['asin'])

(9998268, 10000054)

In [9]:
len(df['asin'].unique())

10677